@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
#cardValue{
    font-size: 250px;
    text-align: center;

}

#card{
    max-width: 460px; 
    height: 720px;
    border-radius: 5%;
    
}

#palo-top{
    font-size: 100px;
    
}
.text-danger{
    color: red !important;
}

#palo-bot{
    font-size: 100px;
    text-align: left;
    transform: rotate(180deg);
}
